* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #eff0f4;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 230px auto;
    width: 470px;
    /*background-color: #fff;*/
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 60px 20px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, .05),
    25px 35px 20px rgba(0, 0, 0, .05),
    25px 30px 30px rgba(0, 0, 0, .05),
    inset -20px -20px 25px rgba(255, 255, 255, .9);
    animation: shake 20s linear infinite;
    transition: .5s;
}

@keyframes shake {
    0%, 100% {
        border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
    }
    10% {
        border-radius: 50% 50% 35% 65% / 41% 42% 58% 59%;
    }
    20% {
        border-radius: 48% 52% 67% 33% / 45% 55% 38% 62%;
        transform: translateY(15px)
    }
    30% {
        border-radius: 47% 53% 48% 52% / 44% 56% 39% 61%;
    }
    40% {
        border-radius: 33% 67% 52% 48% / 55% 62% 45% 38%;
    }
    50% {
        border-radius: 48% 52% 67% 33% / 45% 55% 38% 62%;
    }
    60% {
        border-radius: 67% 33% 48% 52% / 62% 38% 55% 45%;
    }
    70% {
        border-radius:52% 48% 67% 33% / 38% 62% 55% 45%;
    }
    80% {
        border-radius: 33% 67% 48% 52% / 55% 38% 33% 67%;
    }
    90% {
        border-radius: 48% 52% 67% 33% / 45% 55% 38% 62%;
        transform: translateY(-15px);
    }

}
.container .content h3{
    color: lightgrey;
    font-size: 25px;
    text-shadow: 0 0 7px rgba(255, 255, 255, .9);
}


/*.container .content {*/
/*    */
/*    border-radius: 52% 48% 33% 67% /38% 45% 55% 62%;*/
/*}*/

.container .content:hover {
    transition: 1s;
    border-radius: 50%;
    animation-play-state: paused;
}

.container .content::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.9;
    animation: shake 15s linear infinite;
}
.container .content::after {
    content: "";
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
    animation: shake 15s linear infinite;
}
.container .content div {
    position: relative;
    width: 225px;
    border-radius: 25px;
    text-align: center;
}
.container .content input {
    width: 75%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, .1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, .05),
    15px 10px 15px rgba(0, 0, 0, .025);
    transition: 0.5s;
}
.container .content input[placeholder]{
    text-align: center;
}
.container .content input:focus{
    width: 100%;
    text-shadow: 0 0 7px rgba(255, 255, 255, .9);
}
.container .content div:last-child {
    width: 80px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, .1),
    15px 15px 10px rgba(0, 0, 0, .05),
    15px 10px 15px rgba(0, 0, 0, .025);
}
.container .content input[type="submit"] {
    width: 100%;
    color: #9690909e;
    cursor: pointer;
    box-shadow: none;
    transition: 1s;
}
.container .content input[type="submit"]:hover{
    background-color: rgba(232, 16, 84, 0.6);
    color: #ffffff;
}
.container .content div::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.btn {
    border-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #9690909e;
    font-size: 14px;
    animation: shake 25s infinite;
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, .1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, .05),
    15px 10px 15px rgba(0, 0, 0, .025);
    transition: 1s;
}
.btn:hover{
    animation-play-state: paused;
    color:white;
}
.btn::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.45;
}
.forgot {
    bottom: 150px;
    right: 0;
    width: 80px;
    height: 80px;
    border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
}
.forget::before{
    left:20px;
    width: 15px;
    height: 15px;
}
.forgot:hover{
    background-color: #c61dff;
    box-shadow: inset 10px 10px 10px rgba(190, 1, 254, .05),
    15px 25px 10px rgba(190, 1, 254, .1),
    15px 20px 20px rgba(190, 1, 254, .1),
    inset -10px -10px 15px rgba(255, 255, 255, .5);
}
.register:hover{
    background-color: #01b4ff;
    box-shadow: inset 10px 10px 10px rgba(1, 180, 255, .05),
    15px 25px 10px rgba(1, 180, 255, .1),
    15px 20px 20px rgba(1, 180, 255, .1),
    inset -10px -10px 15px rgba(255, 255, 255, .5);
}
